@import "tailwindcss";

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--text);
}
/* Light theme */
body.light {
    --bg: white;
    --text: black;
    --texta: Yellow;
}
/* Dark theme */
body.dark {
    --bg: black;
    --text: white;
    --texta: gray;
}
p{
    height: 100%;
    /* color: var(--texta); */
}